{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login-cart-product.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Read & Vibe | Shop Online</title>
</head>

<body>
    <header>
        <div class="header-container">
            <a href="index.html">
                <div class="logo-container">
                    <h1>R & V</h1>
                </div>
            </a>
            <nav>
                <ul class="links">
                    <li><a href="index.html" class="link">Products</a></li>
                    <li><a href="about.html" class="link">About</a></li>
                    <li><a href="contact.html" class="link">Contact</a></li>
                    <li><a href="login.html" class="link">Login</a></li>
                </ul>

                <div class="cart bigger">
                    <a href="cart.html"><img src="Images/cart.svg" alt="cart"></a>
                    <p>0</p>
                </div>

                <div class="menu-icon" onclick="menutoggle()">
                    <img src="Images/menu.svg" id="burger">
                </div>
            </nav>
        </div>
        <ul class="links mobile" id="menu">
            <li><a href="index.html" class="link">Products</a></li>
            <li><a href="about.html" class="link">About</a></li>
            <li><a href="contact.html" class="link">Contact</a></li>
            <li><a href="login.html" class="link">Login</a></li>
        </ul>
    </header>
    <main>
        <div class="container">
            <div class="sub-container">
                <div class="title">
                    <h2>Your Cart</h2>
                </div>
            </div>
        </div>
        <div class="cart-container">
            <div class="checkout-page">
                <div class="container">
                    <h2 style="text-align: center; font-weight: normal;">Contact Info</h2>
                    <div class="account-form">
                        <img src="Images/AccountPage/profile.svg" alt="" width="25px">
                        <div class="mini-form">
                            <input type="text" name="name" required>
                            <label for="name" class="mini-label">
                                <span class="mini-content">Full Name</span>
                            </label>
                        </div>
                    </div>
                    <div class="account-form">
                        <img src="Images/AccountPage/email.svg" alt="" width="25px">
                        <div class="mini-form">
                            <input type="text" name="email" required>
                            <label for="email" class="mini-label">
                                <span class="mini-content">Email</span>
                            </label>
                        </div>
                    </div>
                    <div class="account-form">
                        <img src="Images/AccountPage/phone.svg" alt="" width="25px">
                        <div class="mini-form">
                            <input type="text" name="phone" required>
                            <label for="phone" class="mini-label">
                                <span class="mini-content">Phone</span>
                            </label>
                        </div>
                    </div><br><br>
                    <h2 style="text-align: center; font-weight: normal;">Delivery Info</h2>
                    <div class="account-form">
                        <img src="Images/AccountPage/city.svg" alt="" width="25px">
                        <div class="mini-form">
                            <input type="text" name="city" required>
                            <label for="city" class="mini-label">
                                <span class="mini-content">City</span>
                            </label>
                        </div>
                    </div>
                    <div class="account-form">
                        <img src="Images/AccountPage/address.svg" alt="" width="25px">
                        <div class="mini-form">
                            <input type="text" name="address" required>
                            <label for="address" class="mini-label">
                                <span class="mini-content">Address</span>
                            </label>
                        </div>
                    </div><br><br>
                    <h2 style="text-align: center; font-weight: normal;">Payment Info</h2>
                    <div class="account-form">
                        <img src="Images/AccountPage/profile.svg" alt="" width="25px">
                        <div class="mini-form">
                            <input type="text" name="name" required>
                            <label for="name" class="mini-label">
                                <span class="mini-content">Full Name</span>
                            </label>
                        </div>
                    </div>
                    <div class="account-form">
                        <img src="Images/AccountPage/email.svg" alt="" width="25px">
                        <div class="mini-form">
                            <input type="text" name="email" required>
                            <label for="email" class="mini-label">
                                <span class="mini-content">Email</span>
                            </label>
                        </div>
                    </div>
                    <div class="account-form">
                        <img src="Images/AccountPage/phone.svg" alt="" width="25px">
                        <div class="mini-form">
                            <input type="text" name="phone" required>
                            <label for="phone" class="mini-label">
                                <span class="mini-content">Phone</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-page">
                <div class="container">
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="cart-product">
                                    <img src="Images/Products/109060-1.jpg">
                                    <div class="product-info">
                                        <p>Product 1</p>
                                        <small>Price: 10 KWD</small><br>
                                        <small>Size: M</small><br>
                                        <a href=""><small>Remove</small></a>
                                    </div>
                                </div>
                            </td>
                            <td><input type="number" value="1" disabled></td>
                            <td>10 KWD</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cart-product">
                                    <img src="Images/Products/109060-1.jpg">
                                    <div class="product-info">
                                        <p>Product 1</p>
                                        <small>Price: 10 KWD</small><br>
                                        <small>Size: M</small><br>
                                        <a href=""><small>Remove</small></a>
                                    </div>
                                </div>
                            </td>
                            <td><input type="number" value="1" disabled></td>
                            <td>10 KWD</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="cart-product">
                                    <img src="Images/Products/109060-1.jpg">
                                    <div class="product-info">
                                        <p>Product 1</p>
                                        <small>Price: 10 KWD</small><br>
                                        <small>Size: M</small><br>
                                        <a href=""><small>Remove</small></a>
                                    </div>
                                </div>
                            </td>
                            <td><input type="number" value="1" disabled></td>
                            <td>10 KWD</td>
                        </tr>
                    </table>

                    <div class="total-price">
                        <table>
                            <tr>
                                <td>Subtotal</td>
                                <td>30 KWD</td>
                            </tr>
                            <tr>
                                <td>Delivery Fee</td>
                                <td>2 KWD</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>32 KWD</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="col">
                <h2 class="row">Follow Us</h2>
                <ul class="col-4">
                    <a href="" class="bigger"><img src="Images/insta.png" width="40px"></a>
                    <a href="" class="bigger"><img src="Images/facebook.png" width="40px"></a>
                </ul>
            </div>
            <div class="col">
                <div class="white-logo-container row">
                    <h1>R & V</h1>
                </div>
                Email:
                <p class="row">reads-support@gmail.com</p>
            </div>
        </div>
        <p class="copy">
            &#169; 2021 - Read & Vibe
        </p>
    </footer>

    <script src="Scripts/imageChange.js"></script>
</body>
<script src="Scripts/mobileMenu.js"></script>

</html>
